<div class="container-fluid animated fadeIn fast">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 mt-5">            

            <a [routerLink]="[ '/home']" class="btn btn-outline-danger mb-5">Regresar</a>

            <div class="border border border-secondary rounded p-4 margintop"> 
                <h4 >ATM</h4>
                <hr>

                <div class="alert alert-success" role="alert" *ngIf="aviso">
                    ¡Carga de efectivo hecha con exito!
                 </div>
                
                <form [formGroup]="formAtm" (ngSubmit)="guardarDenominacion()" novalidate>
                
                    <div >  
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Valor a retirar</label>
                            <div class="col-8">                            
                                <input class="form-control" type="number" placeholder="Valor a Retirar" formControlName="valorRetiro"
                                    [ngClass]="{'is-invalid': !formAtm.get('valorDescripcion').valid && formAtm.get('valorDescripcion').touched}">
                                <div *ngIf="formAtm.get('valorDescripcion').errors?.required" class="invalid-feedback">
                                    Este campo es requerido
                                </div> 
                                <div *ngIf="formAtm.get('valorDescripcion').errors?.noEntero" class="invalid-feedback">
                                    Debe ser un valor entero, No Decimales.
                                </div>                           
                            </div>
                        </div>       
                            
                
                    </div>
                
                
                    <div class="form-group row">
                        <label class="col-2 col-form-label">&nbsp;</label>
                        <div class="input-group col-md-8">
                            <button type="submit" class="btn btn-secondary btn-lg btn-block" [disabled]="formAtm.invalid">
                                Iniciar Transacci&oacute;n
                            </button>
                        </div>
                    </div>  
                </form>
                
            </div>
           
        </div>
    </div>
</div>