
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 mt-5">
            

            <a [routerLink]="[ '/home']" class="btn btn-outline-primary mb-5">Regresar</a>

            <div class="border border border-secondary rounded p-4"> 
                <h4 >Carga de Efectivo en Cajero</h4>
                <hr>

                <div class="alert alert-success" role="alert" *ngIf="aviso">
                    ¡Carga de efectivo hecha con exito!
                 </div>
                
                <form [formGroup]="formDenominaciones" (ngSubmit)="guardarDenominacion()" novalidate>
                
                    <div >
                        
                        <div class="form-group row">
                            <label class="col-2 col-form-label" [hidden]=true>IdDenominacino</label>
                            <div class="col-8">                            
                                <input class="form-control" type="number" placeholder="idDenominacion" formControlName="idDenominacion" [hidden]=true>
                            </div>
                        </div>       
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Denominación</label>
                            <div class="col-8">                            
                                <input class="form-control" type="number" placeholder="Denominación" formControlName="valorDescripcion"
                                    [ngClass]="{'is-invalid': !formDenominaciones.get('valorDescripcion').valid && formDenominaciones.get('valorDescripcion').touched}">
                                <div *ngIf="formDenominaciones.get('valorDescripcion').errors?.required" class="invalid-feedback">
                                    Este campo es requerido
                                </div> 
                                <div *ngIf="formDenominaciones.get('valorDescripcion').errors?.noEntero" class="invalid-feedback">
                                    Debe ser un valor entero, No Decimales.
                                </div>                           
                            </div>
                        </div>       
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Cantidad</label>
                            <div class="col-8">                            
                                <input class="form-control" type="number" placeholder="Cantidad" formControlName="cantidad"
                                    [ngClass]="{'is-invalid': !formDenominaciones.get('cantidad').valid && formDenominaciones.get('cantidad').touched}">
                                <div *ngIf="formDenominaciones.get('cantidad').errors?.required" class="invalid-feedback">
                                    Este campo es requerido
                                </div>
                                <div *ngIf="formDenominaciones.get('cantidad').errors?.noEntero" class="invalid-feedback">
                                    Debe ser un valor entero, No Decimales.
                                </div>                           
                            </div>
                        </div>       
                
                    </div>
                
                
                    <div class="form-group row">
                        <label class="col-2 col-form-label">&nbsp;</label>
                        <div class="input-group col-md-8">
                            <button type="submit" class="btn btn-outline-primary" [disabled]="formDenominaciones.invalid">
                                Registrar
                            </button>
                        </div>
                    </div>
                
                    
                
                </form>
                
            </div>
            <div class="border border border-secondary rounded p-4 mt-5"> 
                <h2> Inventario de Efectivo </h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Denominaci&oacute;n</th>
                        <th scope="col">Cantidad</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of listDenominacion; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.denominacion | number}}</td>
                        <td>{{item.total | number}}</td>
                      </tr>                      
                    </tbody>
                  </table>

            </div>
        </div>
    </div>
</div>



