<div class="container-fluid  c-main">
    <div class="row  ">
        <div class="col-12 text-center mt-5">
            <h1>App ATM</h1>            
        </div>
    </div>
    <div class="row h-75 justify-content-center align-items-center">
        <div class="col-12 col-md-4">
            <a class="btn btn btn-outline-secondary btn-lg btn-block" [routerLink]="[ '/path' ]" role="button">ATM</a>
       </div>
       <div class="col-12 col-md-4">
            <a class="btn btn btn-outline-secondary btn-lg btn-block" [routerLink]="[ '/backoffice' ]" role="button">BackOffice ATM</a>
       </div>
      
    </div>
  </div>
